@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media only screen and (max-width: 768px) {

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:1rem;
}
.card{
    width: 250px;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:156px;
    right: 10px;
}
.right-content img{
    margin: 1rem;
    height: 80px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.3rem;
    font-size: 8px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 0.8rem;
    font-size: 10px;
}
}